<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <display-name>SNS-MONITOR-WEB</display-name>

    <listener>
        <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
    </listener>

    <!--spring 文件配置-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:applicationContext.xml</param-value>
    </context-param>


    <!--spring mvc加载-->
    <servlet>
        <servlet-name>springServlet</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath*:springmvc.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>springServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>myFilter</filter-name>
        <filter-class>com.sohu.sns.sso.client.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/index/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/HttpResource/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/mqtt/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/notifyPerson/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/redisMeta/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>myFilter</filter-name>
        <url-pattern>/logout/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>SetCookie</servlet-name>
        <servlet-class>com.sohu.sns.sso.client.SetCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetCookie</servlet-name>
        <url-pattern>/setcookie</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CleanCookie</servlet-name>
        <servlet-class>com.sohu.sns.sso.client.CleanCookieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CleanCookie</servlet-name>
        <url-pattern>/cleancookie</url-pattern>
    </servlet-mapping>

    <!--post 乱码-->
    <filter>
        <filter-name>CharacterEncodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>

    </filter>
    <filter-mapping>
        <filter-name>CharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>