<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>notifyPerson</title>
    <link rel="stylesheet" href="resources/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/css/Editor-1.6.1/css/editor.dataTables.css">
    <link rel="stylesheet" href="resources/css/Editor-1.6.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="resources/css/Editor-1.6.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="resources/css/Editor-1.6.1/css/select.dataTables.min.css">
</head>
<body>

<div style="text-align: center">
    <h3 >notifyPerson</h3>
</div>
<table id="example" class="display dataTable" cellpadding="0" width="100%" style="table-layout:fixed;word-break:break-all;overflow: scroll" >
    <thead>
    <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>邮箱</th>
        <th>电话</th>
        <th>微信通知状态</th>
    </tr>
    </thead>
</table>

<!--editor js-->

<script  src="resources/js/jquery/jquery-1.12.4.js"></script>
<script  src="resources/js/Editor-1.6.1/js/jquery.dataTables.min.js"></script>
<script  src="resources/js/Editor-1.6.1/js/dataTables.buttons.min.js"></script>
<script  src="resources/js/Editor-1.6.1/js/dataTables.select.min.js"></script>
<script  src="resources/js/Editor-1.6.1/js/dataTables.editor.min.js"></script>




<script type="text/javascript">
    // use a global for the submit and return data rendering in the examples
    var editor;
    $(document).ready(function() {
        editor = new $.fn.dataTable.Editor( {
            ajax: {
                create:{
                    type:'POST',
                    url: 'createPerson',
                    data:function (data) {

                        var result={};
                        for (var i in data.data){
                            var result=data.data[i];
//                              result.id=i;
                            result.action=data.action;
                        }
                        console.log(result);
                        return result;
                    }
                },
                edit:{
                    type:'POST',
                    url: 'updatePerson',
                    data:function(data){
                        var result={};
                        for (var i in data.data){
                            var result=data.data[i];
                            result.action=data.action;
                        }
                        console.log(result);
                        return result;
                    }
                },
                remove:{
                    type:'POST',
                    url: 'deletePerson',
                    data:function(data){
                        var result={};
                        for (var i in data.data){
                            var result=data.data[i];
                            result.action=data.action;
                        }
                        console.log(result);
                        return result;
                    }
                }
            },
            table: "#example",
            idSrc: "id",
            fields: [
                {
                    label: "序号:",
                    name: "id",
                    type:  "readonly"
                },
                {
                    label: "姓名:",
                    name: "name"
                },  {
                    label: "邮箱:",
                    name: "email"
                },{
                    label: "电话:",
                    name:  "phone"
                },{
                    label: "微信通知状态:",
                    name:  "status"

                }
            ]
        } );

        $('#example').DataTable( {
            dom: "Bfrtip",
            ajax: "getAllPerson",
            columns: [
                { data: "id" } ,
                { data: "name" },
                { data: "email"},
                { data: "phone"},
                { data: "status"}
            ],
            select: true,
            buttons: [
                { extend: "create", editor: editor},
                { extend: "edit",   editor: editor },
                { extend: "remove", editor: editor }
            ]
        } );
    } );
</script>
</body>
</html>