<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">


    <bean id="springContextUtil" class="com.sohu.snscommon.utils.spring.SpringContextUtil"/>
    <context:component-scan base-package="com.sohu.sns.monitor"/>

    <task:scheduler id="scheduler" pool-size="16"/>
    <bean id="redisMonitorSchedule" class="com.sohu.sns.monitor.redis.schedule.RedisMonitorSchedule"/>
    <bean id="monitorSchedule" class="com.sohu.sns.monitor.httpmonitor.schedule.MonitorSchedule"/>
    <task:scheduled-tasks scheduler="scheduler">
        <task:scheduled ref="redisMonitorSchedule" method="checkRedisAndSendMail" fixed-delay="3600000"
                        initial-delay="3600000"/>
        <task:scheduled ref="redisMonitorSchedule" method="checkRedisAndSendWeixin" fixed-delay="60000"
                        initial-delay="30000"/>
        <task:scheduled ref="monitorSchedule" method="schedule" fixed-delay="10000" initial-delay="1000"/>
    </task:scheduled-tasks>

    <import resource="classpath*:RedisMonitorContext.xml"/>
    <import resource="classpath*:httpMonitorContext.xml"/>
</beans>
